In [1]:
from typing import Tuple, List, Dict, Union, Optional, Literal
from datetime import datetime

import streamlit as st
import pandas as pd
import numpy as np

from app.api.p9_admin import get_all_user_records
from app.constants.values import AdminUserTable
from app.constants.keys import UsersRecord, AdminUserModify
from app.constants.messages import AdminMsg


# API로부터 전달받는 단일 레코드 타입
Record = Dict[str, Union[str, int, bool, datetime, None]]

In [2]:
mask, msg, records = get_all_user_records()

print(mask)
print(msg)

True
[조회 성공] 대상 레코드 반환

In [3]:
df = pd.DataFrame.from_records(records)

In [4]:
df

,user_id,ktr_id,user_name,email,developer,admin,signup,idx,created_at,updated_at,signup_at,deleted_at
0,admin,10000000,Admin,gooopy123@gmail.com,True,True,True,70,2025-09-26T07:27:09.399624Z,2025-09-26T07:27:09.399624Z,2025-09-26T07:27:09.399624Z,None

In [5]:
records

[{'user_id': 'admin',
  'ktr_id': '10000000',
  'user_name': 'Admin',
  'email': 'gooopy123@gmail.com',
  'developer': True,
  'admin': True,
  'signup': True,
  'idx': 70,
  'created_at': '2025-09-26T07:27:09.399624Z',
  'updated_at': '2025-09-26T07:27:09.399624Z',
  'signup_at': '2025-09-26T07:27:09.399624Z',
  'deleted_at': None}]